# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment
.env
.venv/
venv/

# Training outputs
runs/
outputs/
logs/

# Videos
video/
*.mp4
*.avi
*.mov

# Dataset
datasets/
VisDrone/
Intersection-Flow-5K/

# Kaggle
kaggle/outputs/
kaggle_weight/

# Models
models/**/*.pt
models/**/*.onnx
models/**/*.engine
models/**/*.torchscript
!models/.gitkeep
!models/**/.gitkeep

# Archives
*.zip
*.rar
*.7z

# Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db